In [1]:
import pandas as pd
import numpy as np

In [2]:
!unzip ai-education-recsys-competition.zip

Archive:  ai-education-recsys-competition.zip
  inflating: movies_metadata.csv
  inflating: prediction_baseline.csv
  inflating: train_ratings.csv

In [2]:
movies = pd.read_csv('movies_metadata.csv')

/home/fltww/anaconda3/envs/ML/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
ratings = pd.read_csv('train_ratings.csv')

ratings.head()

   userId  movieId  rating
0       1     2762     4.5
1       1    54503     3.5
2       1   112552     5.0
3       1    96821     5.0
4       1     5577     5.0

In [7]:
ratings.shape

(18574530, 3)

In [8]:
movies['original_language'].value_counts()

en       32269
fr        2438
it        1529
ja        1350
de        1080
         ...
zu           1
qu           1
104.0        1
la           1
si           1
Name: original_language, Length: 92, dtype: int64

In [4]:
movies = movies.drop(['tagline', 'title', 'overview', 'homepage'], axis=1)

In [5]:
movies = movies.drop(['poster_path', 'original_title', 'imdb_id', 'belongs_to_collection', 'spoken_languages'], axis=1)

In [16]:
movies.isnull().sum()

adult                     0
budget                    0
genres                    0
id                        0
original_language        11
popularity                5
production_companies      3
production_countries      3
release_date             87
revenue                   6
runtime                 263
status                   87
video                     6
vote_average              6
vote_count                6
dtype: int64

In [6]:
movies = movies.dropna()

In [19]:
movies['original_language'].value_counts()

en    32130
fr     2413
it     1466
ja     1349
de     1028
      ...
jv        1
qu        1
la        1
fy        1
si        1
Name: original_language, Length: 89, dtype: int64

In [20]:
movies['adult'].value_counts()

False    45035
True         8
Name: adult, dtype: int64

In [7]:
movies['is_en'] = movies['original_language'].apply(lambda x : 1 if x=='en' else 0)
movies['is_fr'] = movies['original_language'].apply(lambda x : 1 if x=='fr' else 0)
movies['is_ja'] = movies['original_language'].apply(lambda x : 1 if x=='ja' else 0)
movies['is_de'] = movies['original_language'].apply(lambda x : 1 if x=='de' else 0)

In [8]:
movies = movies.drop('original_language', axis=1)

In [27]:
movies['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45460    [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45043, dtype: object

In [9]:
movies['is_animation'] = movies['genres'].apply(lambda x : 1 if x.find('Animation')!=-1 else 0)
movies['is_adventure'] = movies['genres'].apply(lambda x : 1 if x.find('Adventure')!=-1 else 0)
movies['is_drama'] = movies['genres'].apply(lambda x : 1 if x.find('Drama')!=-1 else 0)
movies['is_comedy'] = movies['genres'].apply(lambda x : 1 if x.find('Comedy')!=-1 else 0)
movies['is_romance'] = movies['genres'].apply(lambda x : 1 if x.find('Romance')!=-1 else 0)
movies['is_thriller'] = movies['genres'].apply(lambda x : 1 if x.find('Thriller')!=-1 else 0)
movies['is_family'] = movies['genres'].apply(lambda x : 1 if x.find('Family')!=-1 else 0)

In [10]:
movies = movies.drop(['production_companies', 'genres'], axis=1)

In [31]:
movies

,adult,budget,id,popularity,production_countries,release_date,revenue,runtime,status,video,...,is_fr,is_ja,is_de,is_animation,is_adventure,is_drama,is_comedy,is_romance,is_thriller,is_family
0,False,30000000,862,21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,False,...,0,0,0,1,0,0,1,0,0,1
1,False,65000000,8844,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Released,False,...,0,0,0,0,1,0,0,0,0,1
2,False,0,15602,11.7129,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Released,False,...,0,0,0,0,0,0,1,1,0,0
3,False,16000000,31357,3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Released,False,...,0,0,0,0,0,1,1,1,0,0
4,False,0,11862,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Released,False,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,False,0,30840,5.683753,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,Released,False,...,0,0,0,0,0,1,0,1,0,0
45462,False,0,111109,0.178241,"[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,Released,False,...,0,0,0,0,0,1,0,0,0,0
45463,False,0,67758,0.903007,"[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,Released,False,...,0,0,0,0,0,1,0,0,1,0
45464,False,0,227506,0.003503,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,Released,False,...,0,0,0,0,0,0,0,0,0,0
45465,False,0,461257,0.163015,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,Released,False,...,0,0,0,0,0,0,0,0,0,0

In [34]:
movies.head(15)

,adult,budget,id,popularity,production_countries,release_date,revenue,runtime,status,video,...,is_fr,is_ja,is_de,is_animation,is_adventure,is_drama,is_comedy,is_romance,is_thriller,is_family
0,False,30000000,862,21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,False,...,0,0,0,1,0,0,1,0,0,1
1,False,65000000,8844,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Released,False,...,0,0,0,0,1,0,0,0,0,1
2,False,0,15602,11.7129,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Released,False,...,0,0,0,0,0,0,1,1,0,0
3,False,16000000,31357,3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Released,False,...,0,0,0,0,0,1,1,1,0,0
4,False,0,11862,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Released,False,...,0,0,0,0,0,0,1,0,0,0
5,False,60000000,949,17.924927,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818.0,170.0,Released,False,...,0,0,0,0,0,1,0,0,1,0
6,False,58000000,11860,6.677277,"[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",1995-12-15,0.0,127.0,Released,False,...,0,0,0,0,0,0,1,1,0,0
7,False,0,45325,2.561161,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,97.0,Released,False,...,0,0,0,0,1,1,0,0,0,1
8,False,35000000,9091,5.23158,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,64350171.0,106.0,Released,False,...,0,0,0,0,1,0,0,0,1,0
9,False,58000000,710,14.686036,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-11-16,352194034.0,130.0,Released,False,...,0,0,0,0,1,0,0,0,1,0
10,False,62000000,9087,6.318445,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-17,107879496.0,106.0,Released,False,...,0,0,0,0,0,1,1,1,0,0
11,False,0,12110,5.430331,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1995-12-22,0.0,88.0,Released,False,...,0,0,0,0,0,0,1,0,0,0
12,False,0,21032,12.140733,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,11348324.0,78.0,Released,False,...,0,0,0,1,1,0,0,0,0,1
13,False,44000000,10858,5.092,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,13681765.0,192.0,Released,False,...,0,0,0,0,0,1,0,0,0,0
14,False,98000000,1408,7.284477,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1995-12-22,10017322.0,119.0,Released,False,...,0,0,0,0,1,0,0,0,0,0

In [11]:
movies['is_US'] = movies['production_countries'].apply(lambda x : 1 if x.find('US')!=-1 else 0)
movies['is_RU'] = movies['production_countries'].apply(lambda x : 1 if x.find('RU')!=-1 else 0)
movies['is_CA'] = movies['production_countries'].apply(lambda x : 1 if x.find('CA')!=-1 else 0)
movies['is_GB'] = movies['production_countries'].apply(lambda x : 1 if x.find('GB')!=-1 else 0)
movies['is_PH'] = movies['production_countries'].apply(lambda x : 1 if x.find('PH')!=-1 else 0)
movies['is_DE'] = movies['production_countries'].apply(lambda x : 1 if x.find('DE')!=-1 else 0)
movies['is_FR'] = movies['production_countries'].apply(lambda x : 1 if x.find('FR')!=-1 else 0)

In [12]:
movies = movies.drop('production_countries', axis=1)

In [13]:
movies = movies.drop('status', axis=1)

In [14]:
def calc_precision(column):
    return (
        interactions
        .apply(
        lambda row:
        len(set(row['true_test']).intersection(
            set(row[column]))) / 5,
        axis=1)).mean()

In [15]:
ratings['movieId'] = ratings['movieId'].astype(str)

In [16]:
movies = movies.drop_duplicates(subset=['id'])

In [17]:
merged_df = pd.merge(ratings, movies, how='left', left_on='movieId', right_on='id')

In [18]:
merged_df.isnull().sum()

userId                 0
movieId                0
rating                 0
adult           10262789
budget          10262789
id              10262789
popularity      10262789
release_date    10262789
revenue         10262789
runtime         10262789
video           10262789
vote_average    10262789
vote_count      10262789
is_en           10262789
is_fr           10262789
is_ja           10262789
is_de           10262789
is_animation    10262789
is_adventure    10262789
is_drama        10262789
is_comedy       10262789
is_romance      10262789
is_thriller     10262789
is_family       10262789
is_US           10262789
is_RU           10262789
is_CA           10262789
is_GB           10262789
is_PH           10262789
is_DE           10262789
is_FR           10262789
dtype: int64

In [86]:
merged_df.shape

(18574530, 31)

In [ ]:
merged_new_df = merged_df[mer]